body, main, footer {
    font-family: 'Lucida Sans', sans-serif;
    font-size: 1.6em;
    padding: 20px;
    margin: 8px;
    display: block;
    border-style: dotted;
    background-color: aqua;
    align-items: center;
    max-width: 1058px;
    width: 100%;
}
nav ul {
    text-align: center;
    padding: 0;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
article {
    background-color: floralwhite;
}
.funParagraph {
    font-family: 'Arial', sans-serif;
    font-size: small;
    text-decoration: rgb(167, 167, 233);
    text-align: center;
}
#mainHeading {
    font-size: 37pt;
    text-decoration: italic;
    text-decoration: rgb(167, 167, 233);
    text-align: center;
    background-color: floralwhite;

}